@using Antlr.Runtime
@using Entities

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<h2>Фильтрация</h2>
<div id="filter">
    <hr />
    <div class="form-group">
        @Html.Label("для фильтра по самке введите несколько символов клички")
        @Html.TextBox("textboxFemaleName")
    </div>
</div>
<div class="form-group">
    @Html.Label("для фильтра по самцу введите несколько символов клички")
    @Html.TextBox("textboxMaleName")
</div>
<hr />
<div class="form-group">
    @Html.Label("фильтр по результатам")
    @foreach (var item in (IList<Results>)ViewBag.Results)
            {
                @Html.CheckBoxFor(x => item.IsChecked)
                @Html.HiddenFor(x => item.Id)
                @Html.DisplayFor(x => item.Name)

        @*<label>
                <input type="checkbox"
                       name="resultLists"
                       value="@item.Name"
                       id="@item.Id"
                       checked="checked" />
                @item.Name
            </label>*@
        @*<li>
                <input type="checkbox"
                       name="SelectedGroups"
                       value="@item.Name" id="@item.Id"
                       checked="checked" />
                <label for="@item.Id">@item.Name</label>
            </li>*@
    }

</div>
<hr />

@Html.Partial()

@Html.ActionLink("Filter", "ShowChildBirth", "ChildBirth")
