@model IList<BusonessLogic.Help.Types.ChildBirthParrents>

@{
    ViewBag.Title = "Дети";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Дети</title>
</head>
<body>
    <div>
        <h4>@Html.ActionLink("Добавить детей", "AddChildBirth")</h4>
        <hr/>
        @*Фильтр @Html.DropDownList()*@
        <table>
            @if (Model.Count != 0)
            {

                <tr style="font-weight: bold">
                    <td>
                        @Html.Label("Самка")
                    </td>
                    <td>
                        @Html.Label("Клетка")
                    </td>
                    <td>
                        @Html.Label("Самец1")
                    </td>
                    <td>
                        @Html.Label("Дата 1го контакта")
                    </td>
                    <td>
                        @Html.Label("Самец2")
                    </td>
                    <td>
                        @Html.Label("Дата 2го контакта")
                    </td>
                    <td>
                        @Html.Label("Предположительная дата рождения")
                    </td>
                    <td>
                        @Html.Label("Дата рождения")
                    </td>
                    <td>
                        @Html.Label("Результат")
                    </td>
                    <td>
                        @Html.Label("Заметки")
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.FemaleName, "ShowProfile", new { childBirthId = item.Id })
                    </td>
                    <td>
                        @item.CageNumber
                    </td>
                    <td>
                        @item.MaleName1
                    </td>
                    <td>
                        @item.StartDate1.ToShortDateString()
                    </td>
                    <td>
                        @item.MaleName2
                    </td>
                    <td>
                        @item.StartDate2
                    </td>
                    <td>
                        @item.ExpectBirthday.ToShortDateString()
                    </td>
                    <td>
                        @item.Birthday.ToShortDateString()
                    </td>
                    <td>
                        @item.ResultName
                    </td>
                    <td>
                        @item.Notes
                    </td>
                </tr>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Назад", "ShowChildBirth")
    </p>
</body>
</html>
