@model BusonessLogic.Help.Types.ChildBirthParrents

@{
    ViewBag.Title = "Редактировать детей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать детей</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Добавить детей</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Самка", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlFemale", (IEnumerable<SelectListItem>)ViewData["femalesDdl"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Самец1", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlMale1", (IEnumerable<SelectListItem>)ViewData["malesDdl1"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Дата 1го контакта", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="firstcontact">
                        @Html.EditorFor(model => model.StartDate1, new { htmlAttributes = new { @class = "add-on", @PlaceHolder = "введите дату" } })
                        @Html.ValidationMessageFor(model => model.StartDate1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Самец2", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlMale2", (IEnumerable<SelectListItem>)ViewData["malesDdl2"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Дата 2го контакта", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="secondcontact">
                        @Html.EditorFor(model => model.StartDate2, new { htmlAttributes = new { @class = "add-on", @PlaceHolder = "введите дату" } })
                        @Html.ValidationMessageFor(model => model.StartDate2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Предположительная дата рождения", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="expectbirthday">
                        @Html.EditorFor(model => model.ExpectBirthday, new { htmlAttributes = new { @class = "add-on", @PlaceHolder = "введите дату" } })
                        @Html.ValidationMessageFor(model => model.ExpectBirthday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Дата рождения", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="birthday">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "add-on", @PlaceHolder = "введите дату" } })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Результат", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlResult", (IEnumerable<SelectListItem>)ViewData["resultsDdl"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Заметки", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" onclick="return confirm('Вы уверены, что хотите сохранить изменения?') ? true : false;" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад", "ShowProfile", new { childBirthId = @Model.Id })
    </div>

    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

    <script type="text/javascript">
        $('#firstcontact').datetimepicker({
            format: 'dd-MM-yyyy',
            pickTime: false
        });
    </script>
    <script type="text/javascript">
        $('#secondcontact').datetimepicker({
            format: 'dd-MM-yyyy',
            pickTime: false
        });
    </script>
    <script type="text/javascript">
        $('#expectbirthday').datetimepicker({
            format: 'dd-MM-yyyy',
            pickTime: false
        });
    </script>
    <script type="text/javascript">
        $('#birthday').datetimepicker({
            format: 'dd-MM-yyyy',
            pickTime: false
        });
    </script>
</body>
</html>
