@model BusonessLogic.Help.Types.FemaleParrentsMale

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактировать самку</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Редактировать самку</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Кличка", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FemaleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FemaleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Дата рождения", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="datetimepicker">
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "add-on", @PlaceHolder = "dd-MM-yyyy" } })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Клетка", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlCages", (IEnumerable<SelectListItem>)ViewData["cagesDdl"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Отец1", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlMale1", (IEnumerable<SelectListItem>)ViewData["malesDdl1"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Отец2", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlMale2", (IEnumerable<SelectListItem>)ViewData["malesDdl2"])
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Мать", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ddlFemale", (IEnumerable<SelectListItem>)ViewData["femalesDdl"])
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default" onclick="return confirm('Вы уверены, что хотите сохранить изменения?') ? true : false;" />
                </div>
            </div>
        </div>
    }

<div>
    @Html.ActionLink("Назад", "ShowFemales")
</div>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

    <script type="text/javascript">
        $('#datetimepicker').datetimepicker({
            format: 'dd-MM-yyyy',
            pickTime: false
        });
    </script>
</body>
</html>
